---
layout: default
---

<div class="wrapper">

{% include header.html %}

  {% include title.html %}

  {% include info.html %}



    <section class="section-tasks v-center column">
      <div class="image image-first" data-aos="fade-up" data-aos-delay="300"></div>
      <p data-aos="fade-up">На кожному уроці дітям пропонується цікава задача. Разом з викладачем вони знаходять її рішення та програмують на мікроконтролері у візуальному редакторі.
        Зразу власноруч перевіряють результат роботи програми на контролері. Опісля викладач ознайомлює дітей з кодом програми на JavaScript та пояснює їм деталі та особливості її рішення.
      </p>
      <div class="image image-second" data-aos="fade-up"></div>
    </section>

    <section class="section-make-robot v-center" data-aos="fade-up">
      <div class="image"></div>
      <div>
        <h3>Жодна дитина<br> не відмовиться<br> створити робота</h3>
        <p>На базі <a href="https://microbit.org" class="link" target="_blank">micro:bit</a> можна зробити робота, авто, <br>
          вимірювальні прилади і багато інших розумних речей. <br>
          Дітям подобається їх створювати, і на наших уроках<br> викладачі навчать їх цьому.</p>
      </div>
    </section>

    <h2 id="learn" data-aos="fade-in">Повна програма<br> навчання</h2>

    <section class="section-schedule">
      <div class="fl-1" data-aos="fade-right" data-aos-duration="1000">
        <p>
          Програма складена так, щоб дитина <br>
          змогла спробувати it «на смак» з різних боків і <br>
          отримати корисний досвід, який може стати <br>
          поштовхом для вибору майбутньої професії.
        </p>
        <ul>
          <ol>Основи теорії мікроконтролерів;</ol>
          <ol>Змінні та їх типи в JavaScript;</ol>
          <ol>Умовні оператори JavaScript;</ol>
          <ol>Цикли та їх використання в JavaScript;</ol>
          <ol>Логічні оператори та їх використання в складних умовах;</ol>
          <ol>Створення програм з використанням магнітометра;</ol>
          <ol>Створення програм з виведенням звукових сигналів;</ol>
          <ol>Черепашача графіка;</ol>
          <ol>Використання генератора випадкових чисел;</ol>
          <ol>Створення програм з використанням акселерометра;</ol>
          <ol>Створення програм з використанням датчика температури;</ol>
          <ol>Створення програм з використанням датчика освітлення;</ol>
        </ul>
      </div>
      <div class="fl-1" data-aos="fade-left" data-aos-duration="1000">
        <div class="schedule space-between">
          <span>30 уроків по годині</span>
          <span>2 уроки в тиждень</span>
        </div>
        <h4 class="font-bold">Навички і знання,<br>які отримає дитина</h4>
        <p>
          Навчиться розуміти та будувати алгоритми. <br>
          Зрозуміє базові поняття: цикли, умовні оператори і змінні. <br>
          Разбереться в будові простих микроконтролерів. Взнає, що таке IoT. <br>
          Попрацює в команді, візьме участь в хакатоні <br>
          з нагородою — робот під керуванням <a href="https://microbit.org" class="link" target="_blank">micro:bit</a>.
        </p>
      </div>
    </section>

    <h2 id="about" data-aos="fade-up">Умови для<br> продуктивного навчання</h2>

    <div class="image-class" data-aos="fade-up"></div>

    <section class="section-photos">
      <div data-aos="fade-right" data-aos-duration="1000">
        <div class="image">
          <img src="images/pinet.png" alt="">
        </div>
      </div>
      <div data-aos="fade-left" data-aos-duration="1000">
        <h3>Сучасний класс<br> під керівництвом PiNet</h3>
        <p>
          Клас побудований на базі сучасної екосистеми PiNet <br>
          для навчальних мереж. Рабочі місця дітей <br>
          обладнані компютером Raspberry Pi <br>
          і мікроконтролером <a href="https://microbit.org" class="link" target="_blank">micro:bit</a>.
        </p>
      </div>
    </section>

    <section class="section-team column" style="display: none">
      <h2 data-aos="fade-up" data-aos-duration="700">Наша команда</h2>
      <div class="photos space-between" data-aos="fade-up" data-aos-duration="1000">
        <div class="info">
          <img class="info-photo" src="images/gray.jpg" alt="">
          <p class="name">Александр Александрович</p>
          <span class="description">программист с 10-летним опытом, педагог</span>
        </div>
        <div class="info">
          <img class="info-photo" src="images/gray.jpg" alt="">
          <p class="name">Александр Александрович</p>
          <span class="description">программист с 10-летним опытом, педагог</span>
        </div>
        <div class="info">
          <img class="info-photo" src="images/gray.jpg" alt="">
          <p class="name">Александр Александрович</p>
          <span class="description">программист с 10-летним опытом, педагог</span>
        </div>
      </div>
    </section>

    <section class="section-reviews column" style="display: none">
      <h2 id="reviews" data-aos="fade-up" data-aos-duration="1000">Отзывы<br> родителей</h2>
      <div class="carousel reviews" data-aos="fade-up" data-aos-duration="1000">
        <div class="content">
          <p class="text">Лекции меняют сложившееся у большинства дизайнеров и их клиентов отношение к визуальной айдентике, переводя его из плоскости «это красиво» в плоскость «это полезно для бизнеса». Клиентам лекции будут полезны, чтобы понять, что требовать от дизайнеров, узнать процесс проектирования изнутри и по-новому взглянуть на свой бизнес.</p>
          <span class="author">Виктория Александровна, мама</span>
        </div>
        <div class="content">
          <p class="text">Лекции2 меняют сложившееся у большинства дизайнеров и их клиентов отношение к визуальной айдентике, переводя его из плоскости «это красиво» в плоскость «это полезно для бизнеса».</p>
          <span class="author">Виктория Александровна, мама</span>
        </div>
      </div>
      <div class="navigation">
        <span class="arrow-prev"></span>
        <i class="review-counter"></i>
        <span class="arrow-next"></span>
      </div>
    </section>

    <section class="section-hire" id="hire">
      <div class="left-side">
        <h2 data-aos="fade-up" data-aos-duration="1000">Набір<br>на навчання</h2>

        <h4 data-aos="fade-left" data-aos-duration="1000">Гнучкий розклад</h4>
        <p data-aos="fade-left" data-aos-duration="1000">Розклад занять для кожної групи <br> формується з урахуванням побажання батьків.</p>

        <h4 data-aos="fade-right" data-aos-duration="1000">Ідеальні умови</h4>
        <p data-aos="fade-right" data-aos-duration="1000">Унікальний клас із сучасним <br> обладнанням і зручними місцями.</p>

        <h4 data-aos="fade-left" data-aos-duration="1000">30 занять занурення в it</h4>
        <p data-aos="fade-left" data-aos-duration="1000">Алгоритми, мікроконтролери, роботи, <br> різномнітні пристрої і фінальний хакатон!</p>

        <h4 data-aos="fade-right" data-aos-duration="1000">Невеликі групи</h4>
        <p data-aos="fade-right" data-aos-duration="1000">8-10 учнів и професійні <br> викладачі. Оптимальна кількіть <br> учнів для ефективної роботи з <br> кожною дитиною індивідуально.</p>
      </div>
      <div class="right-side">
        <div class="image" data-aos="fade-left" data-aos-duration="1000"></div>
        <h3 class="price" data-aos="fade-left" data-aos-duration="1200"><span id="price">3300</span> грн/курс</h3>
        <span data-aos="fade-left" data-aos-duration="1200">при оплаті
          <span class="text-red choose-payment"><span id="payment-info">одним платежем</span>
            <ul class="payment-methods">
              <li class="payment-item" data-price="3300">одним платежем</li>
              <li class="payment-item" data-price="3600">двома платежами</li>
              <li class="payment-item" data-price="3900">кожні 5 уроків</li>
            </ul>
          </span>
        </span>

        <h3 class="timeleft" data-aos="fade-left" data-aos-duration="1200">Залишилось 6 місць в січневу групу</h3>

        <a href="/registration.html" class="button-red" data-aos="fade-left" data-aos-duration="1400">Записатися</a>
      </div>
    </section>

    <h2 class="contacts-title" data-aos="fade-in" data-aos-duration="800">Контакти</h2>
    <section class="section-contacts" id="contacts" data-aos="fade-up" data-aos-duration="1200">
      <div class="map">
      <iframe src="https://www.google.com/maps/d/embed?mid=18FTCsYzmsc42TlVSqXBRpBN3kHiTwrF1" width="740" height="480"></iframe>
      </div>
      <div class="contacts">
        <h3>Залишились запитання? Звертайтесь!</h3>
        <a href="#" class="contact-link">
          <i class="icon-facebook"></i>
          Facebook
        </a>
        <a href="#" class="contact-link">
          <i class="icon-phone"></i>
          068 500 6977
        </a>
        <a href="#" class="contact-link">
          <i class="icon-map"></i>
          вул. Івана Франка, 28/2,<br> Дрогобич 82100<br>Львівська обл.
        </a>
      </div>
    </section>

</div>

