---
title: Ігрове<br> занурення в it
---

<h2 class="width-55 mob-width-100" data-aos="fade-up">{{ page.title }}</h2>
<section class="section-interesting v-center">
  <div class="mob-width-100" data-aos="fade-right" data-aos-delay="200">
    <h3>Навчання<br> повинне бути<br> цікавим</h3>
    <p>
      Навчально-ігровий процес побудовано<br>
      на базі мікроконтролера, який спеціально<br>
      створений для того, щоб зацікавити<br>
      дітей програмуванням — <a href="https://microbit.org" class="link" target="_blank">micro:bit</a></p>
  </div>
  <div class="image" data-aos="fade-left" data-aos-delay="500"></div>
</section>